<h2>
  <%= inspect(@current_state) %>
</h2>

<button phx-click="update-state">Update State</button>
<button phx-click="get-state">Get State</button>
<button phx-click="pop-from-state">Pop off State</button>
