  <div class="game-header">
    <h2>Game View</h2>
  </div>
  <div class="frame">
    <div class="box" style="top: <%= @game_state.top %>px; left: <%= @game_state.left %>px; border-radius: 20px;">
    </div>
    <%= for obstacle <- @game_state.obstacles do %>
      <div class="obstacle" style="top: <%= obstacle.top %>px; left: <%= obstacle.left %>px; border-radius: 20px;">
      </div>
    <% end %>
  </div>
  <div id="press" phx-window-keydown="key_pressed"></div>
